* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

header {
    background-color: rgb(255, 102, 0);
    min-height: 70px;
}

.Header-Container {
    min-height: 70px;
    width: auto;
    margin: auto 5%;
    justify-content: space-between;
}

.Flex {
    display: flex;
}

.Header-Links {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style-type: none;
    padding: 5px;
    padding-left: 0;

}

.Logo-Boolean {

    max-height: 40px;
}

.Container-Logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Container-Icons {
    display: flex;
    align-items: center;
}

.icons i {
    margin: 5px;
}

/* MAIN */

.Main-Container {
    display: flex;
    flex-wrap: wrap;
    min-height: 900px;
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 2%;
    padding-bottom: 2%;
}

h2 {
    font-size: 15px;
}

.Col {
    width: calc(100%/3);
    padding: 1%;
    max-height: 600px;
}

.Col-Items {
    position: relative;
}

.Col-Items > img {
    max-width: 100%;
}

.Disability {
    display: flex;
    position: absolute;
    color: white;
    bottom: 25%;
}

.Discount {
    margin-right:3px;
    background-color: rgb(255 0 0);
    z-index: 10;
    font-size: 1.2vw;
    padding: 0.3vw 1vw;
}

.Sostenibility {
    display: flex;
    background-color: rgb(0 128 0);
    font-size: 1.2vw;
    z-index: 10;
    padding: 0.3vw 1vw;
    align-items: center;
}


.Heart {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 0;
    background-color: white;
    height: 8%;
    width: 23%;
    padding: 1%;
    z-index: 10;
    font-size: 1.8vw;
}

.Col-Items > * {
    padding: 2px;
}

.Mark {
    font-size: 1.2vw;
}

.Clotes-Title {
    font-size: 1.1vw;
}

.New-Price {
    display: inline-block;
    color: red;
    font-size: 1.2vw;
}

.Old-Price {
    color: black;
    text-decoration: line-through;
    font-size: 1.1vw;

}

.Img-Changer:hover .Img-Back {
    z-index: 2;
}

.Img-Changer:hover .Heart {
    color: red;
}

.Img-Back {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* FOOTER */

footer {
    background-color: rgb(0, 0, 0);
    min-height: 70px;
    color: white;
    padding: 10px;
}

h3 {
    display: inline-block;
}

.Footer-Container {
    min-height: 70px;
    width: auto;
    margin: auto 5%;
    align-items: center;
}

.Footer-Container ul {
    display: flex;
}

.Footer-Links {
    display: flex;
    justify-content: space-between;
}

.Footer-Socials {
    display: flex;
    justify-content: space-between;
}

.Footer-Socials div {
    display: inline-block;
}

footer li {
    padding-right:15px ;
}